{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address_login_toggle %}
    {{ parent() }}
    {% if context.customer === null %}
        <div class="ivy--express-checkout-register col-6 col-md-6">
            <div class="ivy--express-checkout-btn" data-action="{{ path('frontend.ivyexpress.start') }}">
                <button
                    class="ivy-checkout-button"
                    style="visibility: hidden"
                    data-cart-value="{{ page.cart.price.netPrice }}"
                    data-shop-category="{{ page.IvyMcc}}"
                    data-locale="{{ 'ivypaymentplugin.ivy-modal.ivyLocale'|trans|sw_sanitize }}"
                    data-currency-code="{{ context.currency.isoCode }}"
                ></button>
                <script src="{{ page.IvyButtonUrl }}" async></script>
            </div>
        </div>
    {% endif %}
{% endblock %}
